.price-range-block {
    margin:20px 10px 0;
}

.sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:100%;
}
.ui-widget-header {
    background:#46b9c7;
}

.price-range-search {
    width:100%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:10px;
    font-size:16px;
}
.price-range-field{
width: 49%;
min-width: 16%;
background-color:#f9f9f9;
border: 1px solid #c5c5c5;
color:black;
font: normal 14px Arial, Helvetica, sans-serif;
border-radius: 3px;
height: 32px;
padding: 8px;
}
.search-results-block{
    position: relative;
    display: block;
    clear: both;
}

